.Page{
    padding:5px 20px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
}

.Post{
    width:30%;
    border:1px solid white;
    border-radius:10px;
    height:550px;
    margin-top:20px;
    margin-right:10px;
}

.movie-info{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left:10px;
}

p{
    margin-top:5px;
    margin-left:5px;
}

img{
    border-radius:10px;
}

.know-more{
    width:70%;
    height:40px;
    background-color: white;
    color:black;
    border-radius:10px;
    position:relative;
    left:15%;
}
